.integer-tile-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.integer-tile__current-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
}

.integer-tile__primary-unit {
  margin-bottom: 6px;
}

.integer-tile__histogram {
  height: 40px;
  margin-bottom: 10px;
}
