@import "./colors.sass";

.App {
  height: 100%;
}

.green {
  color: $green;
}

.background-green {
  background-color: $green;
}

.amber {
  color: $amber;
}

.background-amber {
  background-color: $amber;
}

.red {
  color: $red;
}

.background-red {
  background-color: $red;
}

.light-green {
  color: $light-green;
}

.background-light-green {
  background-color: $light-green;
}

.blue {
  color: $blue;
}

.background-blue {
  background-color: $blue;
}

.light-blue {
  color: $light-blue;
}

.background-light-blue {
  background-color: $light-blue;
}

.aqua {
  color: $aqua;
}

.background-aqua {
  background-color: $aqua;
}

.silver {
  color: $silver;
}

.background-silver {
  background-color: $silver;
}
